.book-detail-container {
    width: 50%;
    margin: 50px auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
}

.book-detail-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
}

.book-detail-container h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

.book-detail-container p {
    margin: 0.5rem 0;
    color: #666;
}

.book-detail-container strong {
    color: #333;
}

.book-detail-image {
    margin-right: 2rem;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.175);
}

.book-detail-summary {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
}

.book-detail-short {
    margin-top: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    .book-detail-container {
        width: 90%;
        padding: 1rem;
        padding-left: 1rem;
    }

    .book-detail-content {
        flex-direction: column;
    }

    .book-detail-image {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .book-detail-summary {
        margin: 1rem 0;
    }
}
